<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.dao.MessageDao">

	<resultMap id="messageResultMap" type="message">
		<id column="L_ID" property="l_id" />
		<result column="L_CONTENT" property="l_content" />
		<result column="L_TIME" property="l_time" />
		<result column="N_NAME" property="n_name" />
		<association property="assPerson" javaType="assPerson">
			<id column="APF_ID" property="apf_id" />
			<result column="APF_NAME" property="apf_name" />
			<result column="APF_NUMBER" property="apf_number" />
			<result column="TDIRRECTIN" property="tdirrectin" />
			<result column="PASSWORD" property="password" />
			<result column="CREDIT" property="credit" />
			<result column="TEL" property="tel" />
			<result column="EMAIL" property="email" />
			<result column="QQ" property="qq" />
			<association property="powers" javaType="powers">
				<id column="P_ID" property="p_id" />
				<result column="P_NAME" property="p_name" />
				<result column="P_RANGE" property="p_range" />
			</association>
		</association>

	</resultMap>


	<select id="selectAll" resultMap="messageResultMap">
		select *
		from message m , ass_person a
		where m.APF_ID = a.APF_ID
	</select>

	<select id="selectOne" resultType="message" parameterType="int">
		select * from message m , ass_person a
		where m.APF_ID = a.APF_ID
		and m.L_ID = #{id}
	</select>

	<insert id="add" parameterType="message">
		insert into message
		(
		L_ID,APF_ID,L_CONTENT,L_TIME,
		N_NAME
		)values
		(
		seq_message.NEXTVAL,
		#{assPerson.apf_id},
		#{l_content},
		#{l_time},
		#{n_name}
		)
	</insert>

	<update id="modify" parameterType="message">
		update message set
		APF_ID =
		#{assPerson.apf_id},
		L_CONTENT = #{l_content},
		L_TIME = #{l_time},
		N_NAME = #{n_name}
		where L_ID = #{l_id}
	</update>


	<delete id="delete" parameterType="int">
		delete from message 
		where L_ID = #{id}
	</delete>
</mapper>
